<div class="navbar">
    <a href="/lists">My Lists</a>
    <a class="active" href="/lists/new">Create New List</a>
    <a href="/lists/all">All Lists</a>
    <a href="/settings">Settings</a>
    <a href="/logout">Logout</a>
</div>
<h2>Create your new list here</h2>

<form action="/lists" method="post">
    List Title: <input type="text" name="list[list_title]">
    <div class="items">List Item: <input type="text" name="list[list_items][][item]"></div>
    <input type="button" value=" Add List Item " id="add"> <br>
    <input type="submit" value=" Create List ">
</form>


