<h2>Create your new list here</h2>

<form action="/lists" method="post">
    List Title: <input type="text" name="list_title">
    List Item(s): <input type="text" name="list_item">
    Finished: <input type="checkbox" name="finished">
    <input type="submit" value="Create List">
</form>