<div class="navbar">
    <a href="/signup">Sign Up</a>
    <a class="active" href="/login">Log In</a>
</div>
<h3>Welcome Back!</h3>
<br>
<form action="/login" method="post">
    Email: <input type="text" name="email">
    Password: <input type="password" name="password">
    <a class="waves-effect waves-light btn orange"><input type="submit" value=" Log In "></a>
    
</form>