<div class="navbar">
    <a href="/lists">My Lists</a>
    <a href="/lists/new">Create New List</a>
    <a href="/lists/all">All Lists</a>
    <a class="active" href="/settings">Settings</a>
    <a href="/logout">Logout</a>
</div>

<h2>What would you like to do?</h2>

<ul>
    <li><a href="">Change Account Information</a></li>
    <li><a href="/close">Close Account</a></li>
</ul>
        