<h3>Sign Up to become a part of the Listers</h3>

<form action="/signup" method="post">
    First Name: <input type="text" name="first_name">
    Email Address: <input type="text" name="email">
    Password: <input type="password" name="password">
    <input type="submit" value="Sign Up">
</form>