<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>ListsApplication</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
        $("#add").click(function(e){
          $(".items").append('<div>List Item(s): <input type="text" name="list[list_item][]">' + '<input type="button" value="delete" id="delete"></div>')
        });
        $(".items").on("click", "#delete", function(e){
          e.preventDefault(); $(this).parent('div').remove();
        });
      });
    </script>

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="wrapper">
      <h1>My Lists - An Organizational Application</h1>
      <% flash.keys.each do |type| %>
        <div data-alert class="flash <%= type %> alert-box radius">
          <%= flash[type] %>
        </div>
      <% end %>
      <br>

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2018 <strong>ListsApplication</strong></small>
        <small><strong> Created by: Gina Fedder</strong></small>
        <small><strong>Contact Info: <a href="mailto:ginafedder@yahoo.com">Email</a></strong></small>
      </footer>
    </div>

    
    

    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
